* {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock {
    height: 5rem;
    width: 15rem;
    background-color: rgb(32, 30, 30);
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
}